<h1><%= @profiles.first.username %></h1>
<h1><%= @profiles.first.business_name %></h1>
<h1><%= @profiles.first.email %></h1>
<p><%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary' %> </p>


