<h1><%= @post.title %></h1>
<p class="lead"><%= @post.body%></p>
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
